<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/signupstyle.css">
    <title>Sign Up</title>
  </head>

  <body>
    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{nameerror}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{passerror}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{verifyerror}}
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
  </body>

</html>